<ion-view title="Devices">
		<ion-content padding="true" class="has-header">
				<div class="list card">
						<div class="item item-divider">Lights</div>
						<div class="item item-body">
								<form>
										<ion-toggle ng-model="powerTail.checked" ng-checked="powerTail.checked" ng-change="updatePowerTail()">Light Switch</ion-toggle>

										<label class="item item-input">
											<span class="input-label">Temperature</span>
											<input type="text" ng-value="particle.temperature | number:2">
										</label>
								</form>
						</div>
				</div>
		</ion-content>
</ion-view>